@use "mixins" as *;

*, *::before, *::after {
	// ---------------- Global Resets ----------------
	@include mp();
	box-sizing: border-box;

	// ---------------- UI Resets ----------------
	outline: 0;

	// ---------------- Global Styles ----------------
	font-family: var(--font-primary);
}

body {
	background-color: var(--color-tint);
	height: 100vh;
	height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

::selection {
	color: var(--color-light);
	background-color: rgb(255, 218, 118);
}

h1, .h1 {
	margin: 0;
}