@mixin mp($margin: 0, $padding: 0) {
	margin: $margin;
	padding: $padding;
}

@mixin size($width: auto, $height: auto) {
	width: $width;
	height: $height;
}

@mixin square($length: auto) {
	width: $length;
	height: $length;
}

@mixin flex($main: center, $cross: center) {
	display: flex;
	justify-content: $main;
	align-items: $cross;
}