:root {
    // ---------------- colors ----------------
	// --color-primary: ;
	// --color-secondary: ;
	--color-accent: rgb(255, 187, 0);

	--color-text: black;
	// --color-text: var(--color-accent);
	--color-bg: white;

	--color-light: white;
	--color-tint: rgb(255, 250, 233);
	--color-dark: black;

	--color-border: rgb(226, 226, 226);


	// ---------------- typography ----------------
	--font-primary: "Montserrat";
	// --font-secondary: ;

	// --font-serif: ;
	// --font-sans-serif: ;
	// --font-monospace: ;
	// --font-script: ;
	// --font-display: ;

	// ---------------- UI ----------------
	--focus-fx-stroke: 2px;
	--focus-fx-offset: -8px;
	--focus-fx-color: var(--color-text);
	--focus-fx-alignX: 50%;

	--header-logo-height: 40px;
	--header-logo-width: 100px;
	--header-padding-block: 20px;

	--transition-duration-on: 250ms;
	--transition-duration-off: calc(var(--transition-duration-on) * 2);
	
	// ---------------- layout ----------------
	// 280px
	// 320px
	// 375px
	// 480px
	// 768px
	// 1024px
	// 1440px
}
