main.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#section-hero {
  --section-hero-width: max(50%, 768px);
  --h1-size: 3rem;
  --h1-weight: 700;
  --h1-space: 1em;
  --p-size: 1.25rem;
  --p-weight: 500;
  --p-leading: 1.75;
  --p-space: 2em;
  --btn-gap-col: 40px;
  --btn-gap-row: 10px;
  width: var(--section-hero-width);
}
#section-hero > h1 {
  margin-bottom: var(--h1-space);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
}
#section-hero > p {
  margin-bottom: var(--p-space);
  font-size: var(--p-size);
  font-weight: var(--p-weight);
  line-height: var(--p-leading);
}
#section-hero > .hero-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--btn-gap-row) var(--btn-gap-col);
}

@media screen and (max-width: 1024px) {
  #section-hero {
    --h1-size: 2.75rem;
    --h1-space: 0.8em;
    --p-size: 1.2rem;
    --btn-gap-col: 35px;
  }
}
@media screen and (max-width: 768px) {
  #section-hero {
    --p-size: 1.15rem;
  }
}
@media screen and (max-width: 480px) {
  #section-hero {
    --h1-size: 2rem;
    --h1-space: 0.8em;
    --p-size: 1rem;
    --btn-gap-col: 30px;
  }
}
@media screen and (max-width: 375px) {
  #section-hero .hero-links > a {
    width: 100%;
    text-align: center;
  }
}
